.header {
    z-index: 2;
}

.main1 {
    padding-top: 30px;
    padding-bottom: 60px;

    display: grid;
    grid-template-columns: 1.5fr 1fr;

    background-color: #00bffe00;
    background-color: #00000022;

}

form {
    z-index: 1;
    margin: auto;
}

.contact1-form-title {
    color: rgb(235, 235, 235);
}

.form-cont {

    grid-column-start: 2;
    grid-column-end: 3;

    width: fit-content;
    height: fit-content;

    padding: 30px;
    background-color: rgba(256, 256, 256, 0.5);
    background-color: #88888893;

    margin: auto;
    margin-top: 0px;
}

.map-cont {
    padding: 20px;
    padding-top: 0px;
    height: 590px;

    z-index: 1;
}

.address-cont {
    color: rgb(245, 245, 245);

    margin-left: 10%;

    height: fit-content;
    width: fit-content;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 0px;

    background-color: rgba(256, 256, 256, 0.5);
    background-color: #88888893;
}

.contacts{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.head {
    width: fit-content;
    margin-right: auto;

    font-size: 2em;
    font-weight: bold;

    margin-bottom: 20px;
}

.address {
    width: fit-content;
    margin-left: 10px;
    margin-right: auto;
    font-style: italic;

    max-width: 400px;
}

@media screen and (max-width: 1300px){
    
    .main1{
        padding-top: 0px;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    .form-cont {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .address-cont {
        margin-bottom: 30px;
        width: 100%;
    }

    .map-cont {
        height: 400px;
    }

}
