.header {
    z-index: 2;
}

.main1 {
    padding-top: 30px;
    padding-bottom: 60px;

    display: grid;
    grid-template-columns: 1.5fr 1fr;

    background-color: #00bffe00;
    background-color: #00000022;

}

form {
    z-index: 1;
    margin: auto;
}

.contact1-form-title {
    color: rgb(235, 235, 235);
}

.form-cont {

    grid-column-start: 2;
    grid-column-end: 3;

    width: fit-content;
    height: fit-content;

    padding: 30px;
    background-color: rgba(256, 256, 256, 0.5);
    background-color: #88888893;

    margin: auto;
    margin-top: 0px;
}

.map-cont {
    padding: 20px;
    padding-top: 0px;
    height: 590px;

    z-index: 1;
}

.address-cont {
    color: rgb(245, 245, 245);

    margin-left: 10%;

    height: fit-content;
    width: fit-content;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 0px;

    background-color: rgba(256, 256, 256, 0.5);
    background-color: #88888893;
}

.contacts{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.head {
    width: fit-content;
    margin-right: auto;

    font-size: 2em;
    font-weight: bold;

    margin-bottom: 20px;
}

.address {
    width: fit-content;
    margin-left: 10px;
    margin-right: auto;
    font-style: italic;

    max-width: 400px;
}

@media screen and (max-width: 1300px){
    
    .main1{
        padding-top: 0px;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    .form-cont {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .address-cont {
        margin-bottom: 30px;
        width: 100%;
    }

    .map-cont {
        height: 400px;
    }

}

.header {
    background-color: #f1c401;
    color: white;
}

@media screen and (max-width:500px){
    
    .header {
        padding: 0px;
        margin: 0px;
        padding-top: 10px;
    }

    .nav-bar {
        background-color: #34495e;
    }
}

.collapsible {
    background-color: #34495e;
}

.nav:hover .sub-navbar {
    background-color: #3498db;
}

.footer {
    background-color: #34495e;
}

body {
    background-color: #34495e;
}

.expand {
    background-color: #34495e;
    margin-bottom: 0px;
}

.buttons {
    cursor: pointer;
    background-color: lightgrey;
    color: white;
    font-size: 1.5em;

    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    max-width: 100%;

}

.hide {
    display: none;
}

.button {
    background-color: gray;
    border: solid 2px black;
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

input {
    font-size: 0.8em;
    min-width: 100px;
}

.collapsible {

}
