.expand {
    display: none;
}

.expand-icon {
    max-width: 30px;
    padding: 3px;
    
    display: block;
    margin-left: auto;

    cursor: pointer;
}

.header {
    box-shadow:-10px 10px 5px -3px rgba(0,0,0,0.2) inset;
}

.collapsible {
    box-shadow:
        inset -10px 0px 5px -3px rgba(0,0,0,0.2);
}


@media screen and (max-width: 500px) {

    .collapsible {
        overflow: hidden;
        max-height: 0px;

        transition: max-height .5s ease-in-out;
        transition-delay: 0s;
    }
    
    .header {
        grid-template-rows: 1fr auto auto;
        max-height: 500px;
    }

    .expand {
        display: block;
        grid-row-start: 2;
        grid-row-end: 3;
        user-select: none;

        margin-top: 20px;
    }

    .nav-bar {
        grid-row-start: 3;
        grid-row-end: 4;
        
        overflow: hidden;
        max-height: 0px;

        transition: max-height .5s ease-in-out;
    }

}
