
body {
    display: grid;
    grid-template-rows: 95px auto auto auto;
    background-color: #663a82;
}

.header {
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    padding: 10px;
    background-color: #663a82;
    color: white;
    width: 100%;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    margin-left: 10px;
    grid-row-start:1 ;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: auto auto;
}

.headerLogo {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}

.social-icon {
    background-color: black;
    max-width: 40px;
    max-height: 40px;
    padding: 6px;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px white;
    transition: padding .2s ease-in-out;
}

.social-icon:hover {
    padding: 8px;
}

.icon {
    width: 100%;
    height: 100%;
}

.collapsible {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #663a82;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comp-title {
    max-width: 300px;
    margin: auto;
    margin-left: 20px;
    padding-left: 10px;
    color: white;
    border-left:solid 3px #f54952;
    max-width: 200px;
}

.social {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 450px;
    margin-left: auto;
    padding: 7px;
    padding-top: 8px;

    grid-column-start: 2;
    grid-column-end: 3;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    transition: border .2s ease-in-out;
    border-bottom: solid 2px transparent;
}


.nav {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    align-content: center;
    cursor: pointer;
    user-select: none;
}

.sub-nav {
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: background-color .8s ease-in-out;
    border-top: solid 1px gray;
    font-size: smaller;
    cursor: pointer;
}

.first {
    border-top: solid 1px transparent;
}

.sub-navbar {
    opacity: 0;
    pointer-events: none;
    max-width: 300px;
    z-index: 2;
    margin-top: 60px;
    text-align: left;
    color: #663a82;
    max-height: 0px;
    margin-left: -20px;
    overflow: hidden;
    position: absolute;
    padding: 0px;
    max-height: 0px;
    border-radius: 10px;
    transition: max-height 1s linear;
}

.nav:hover .sub-navbar{
    opacity: 1;
    pointer-events: all;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 400px;
    color: white;
}

.sub-nav:hover {
    color: orangered;
    background-color: rgba(0, 0, 0, 0.3);
}

.selected {
    text-decoration: underline;
    color: orangered;
}

.nav:hover {
    color: orangered;
}

.sub-inc {
    transition: font-size .2s ease-in-out;
}

.sub-inc:hover {
    color: orangered;
    border-radius: 25px;
    font-size: larger;
}

#facebook1 {
    background-color: #3b5998;
}

#twitter1 {
    background-color: #1DA1F2;
}

#linkedin1 {
    background-color: #0072b1;
}

#mail1 {
    background-color: #B23121;
}

#youtube1 {
    background-color: #c4302b;
}

#insta1 {
    background-image: linear-gradient(#8134af,#f58529);
}

.footer {
    background-color: #663a82;
    grid-row-start: 4;
    grid-row-end: 5;
}

.main {
    grid-row-start: 3;
    grid-row-end: 4;
    background: transparent;
    margin-top: 0px;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
    padding: 0px;
}

#parallax-image1 {
    max-width: 100%;
    background: transparent;
    padding: 0px;
    background-color: rgba(256, 256, 256, 0.3);
}

.copyright {
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    max-width: 100%;
    color: white;
    text-align: center;
}

.main1 {
    width: 100%;
    height: 100%;
    color: black;
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
}

.content {
    background-color: rgba(256, 256, 256, 0.5);
    padding: 10px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 30px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;

    max-width: 800px;
}

.heading {
    margin: 30px;
    font-size: 3em;
    margin-left: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.para {
    margin-left: 20px;
    margin-bottom: 20px;

    font-size: 1.3em;
    
    text-align: justify;
    text-justify: distribute;
}

.iphone {
    background-image: url(images/iphone6.png);
    background-size: cover;
    height: 600px;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: auto;

    margin-left: auto;
}

.screen {
    padding-left: 35px;
    padding-top: 77px;
}

.poster {
    display: block;
    max-width: 100%;
    height: 170px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.event {
    position: fixed;
    margin: 10px;
    background-color: rgba(80,21,117,0.7);
    color: white;
    border-radius: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-image: linear-gradient(rgba(80,21,117,0.2),rgba(80,21,117,0.8));

    width: 25%;
    max-width: 420px;

    bottom: 70px;
    line-height: 1.15;

}

.event-head {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    padding-top: 10px;
    background-color: rgba(80,21,117,0.7);

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    padding-right: 0px;
}

#upcoming {
    font-size: large;

    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;

}

.calendar {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto auto;

    max-width: 130px;
    margin-left: auto;
}

#calendar-icon {
    max-width: 50px;
    max-height: 50px;

    grid-row-start: 1;
    grid-row-end: 3;
}

.date {
    margin-left: auto;
    margin-right: 5px;
    font-weight: bolder;

    font-size: 1.4em;
}

.month {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    margin-left: auto;
    margin-right: 5px;
}

.year {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

    transform: rotate(-90deg);

    font-weight: bold;
}

.register-button {
    text-align: center;
    max-width: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;

    transition: color .2s ease-in-out;
}

.register-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

.event-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slide-image {
    max-width: 100%;
    max-height: 170px;
    overflow: hidden;
    padding: auto;
}

#slideshow {
    max-height: 400px;
    overflow: hidden;
    padding: auto;
}

.post-cont {
    margin-left: auto;
}

.poster-cont {
    max-width: 100%;
    max-height: 170px;
    padding: auto;
    cursor: pointer;

    overflow: hidden;
}

.posters-large-cont {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    overflow: hidden;

    width: 100%;
    height: 100%;

    z-index: 10;

    transition: opacity .2s ease-in-out;

    background-color: rgba(0, 0, 0, 0.7);
}


.poster-large {
    width: 100%;
    max-height: 400px;
    padding: auto;
}

.posters-large {
    overflow: hidden;
    max-height: 400px;
}

.poster-large-box {
    position: static;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 5fr;

    max-width: 1000px;
    max-height: 600px;
    margin: auto;
    margin-top: 50px;
}

.bar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.close {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: red;
    opacity: 1;
    color: white;
    text-align: center;
    vertical-align: middle;

    margin-top: 30px;
    margin-right: 20px;

    cursor: pointer;
}

.poster-button {
    margin: auto;
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;

    transition: background-color .2s ease-in-out;
}

.poster-button:hover {
    background-color: orangered;
    color: black;
}

.register-button {

    animation-name: highlight1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
    animation-timing-function: linear; 
    
}

.arrow {
    max-width: 50px;
    max-height: 50px;
}


  @keyframes highlight1{
    
    0% {
        color: white;
    }

    50% {
        color: orange;
    }

    100% {
        color: white;
    }
  }

@media screen and (max-width: 1300px){

    .main1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .content {
        max-width: 100%;
        padding-left: 0px;
        margin-left: 0px;
    }

    .event {
        position: static;
        width: auto;
        max-height: fit-content;
        z-index: 0;
        margin: auto;
        margin-top: 20px;
        bottom: auto;
    
    }

    .content-container {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        margin-left: 15px;
    }
    

    .register-button{
        padding-bottom: 10px;
    }

    .header {
        grid-template-columns: 3fr 6fr;
        z-index: 2;
    }

    body {
        grid-template-rows: 150px auto auto auto;
    }

    .nav-bar {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }

    .sub-navbar {
        margin-top: 30px;
    }

    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .poster-cont {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1000px) {

    .main1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .content-container{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .event {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .iphone {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .sub-navbar {
        margin-top: 40px;
    }

    .headerLogo {
        max-width: 100px;
        max-height: 100px;
    }

    body {
        display: inline;
    }

    .nav-bar {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2 ;
        grid-row-end: 3;
        margin: auto;
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr auto;
        position: relative;
        max-height: 220px;
    }

    .logo {
        margin: auto;
    }

    .social {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
        padding-bottom: 30px;
    }

    .social-icon {
        max-width: 40px;
        max-height: 40px;
        border-radius: 10px;
        padding: 5px;
    }

    .social-icon:hover {
        padding: 6px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        max-height: 300px;
    }

    .event {
        margin-right: 10px;
        margin-left: 10px;
        max-width: 100%;
    }

}



.main-navigations {
    max-width: 800px;
    margin: auto;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 10px;

    font-size: 1.5em;

    transition: background-color .5s ease-in-out;

    display: grid;
    grid-template-columns: auto auto auto auto;
}


.main-nav {
    padding: 10px;
    text-align: center;
    width: max-content;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

    border: solid 2px #663a82;
    color: #663a82;

    user-select: none;

}

.main-nav:hover {
    background-color: #663a82;
    color: white;
}

.open {
    background-color: #663a82;
    color: white;
}

@media screen and (max-width: 700px) {
    .main-navigations {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 500px) {
    .nav:hover {
        
        max-height: 300px;
    }

    .sub-inc:hover {
        font-size: medium;
    }

}

@media(max-width: 480px){
    .js__parallax-window {
        background-attachment: unset !important;
    }
}

@media screen and (max-width: 500px) {

    .heading {
        font-size: 2em;
    }

    .para {
        font-size: 1em;
    }

    .content {
        margin-left: 10px;
        margin-right: 10px;
    }

}


.expand {
    display: none;
}

.expand-icon {
    max-width: 30px;
    padding: 3px;
    
    display: block;
    margin-left: auto;

    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .collapsible {
        overflow: hidden;
        max-height: 0px;

        transition: max-height 1s ease-in-out;
    }
    
    .header {
        grid-template-rows: 1fr auto auto;
        max-height: 500px;
    }

    .expand {
        display: block;
        grid-row-start: 2;
        grid-row-end: 3;
        user-select: none;

        margin-top: 20px;
    }

    .nav-bar {
        grid-row-start: 3;
        grid-row-end: 4;
        
        overflow: hidden;
        max-height: 0px;

        transition: max-height 1s ease-in-out;
    }

}

@media screen and (max-width: 500px) {

    .main-navigations {
        grid-template-columns: 2fr 2fr 4fr 2fr;
    }

    .main-nav {
        font-size: 0.6em;
        padding: 5px;
    }
}

@media screen and (max-width: 420px) {

    .main-nav {
        font-size: 0.5em;
    }

}