.content {
    background-color: transparent;
    color: black;
}

.heading {
    font-size: 4em;
    font-weight: 700;

    -webkit-text-stroke: 1px white;
    color: rgba(31, 64, 104,0.5);

    text-shadow:0 3px 4px rgba(0,0,0,0.2);
}

.event {
    position: sticky;
    top: 300px;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.register-button {
    padding-bottom: 10px;
}