
.content {
    background-color: transparent;
    color: black;
}

.heading {
    font-size: 3.5em;
    font-weight: 600;
    color: #1f4068;
}

.event {
    position: sticky;
    top: 300px;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.register-button {
    padding-bottom: 10px;
}

.paragraphs {
    color: #1f4068;
}

.content {
    background-color: rgb(255, 255, 255,0);
}

.main1 {
    background-color: rgba(231, 231, 231, 0.637);
}