.main1 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;

    background-color: rgba(256,256,256,0.5);
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;

    background-color: rgba(256,256,256,0.5);
    background-color: #34495eaa;
}

.para {
    font-size: 1.7em;

    text-align: justify;
    max-width: 900px;
    width: 100%;

    padding: auto;

    margin-right: auto;
    margin-left: auto;

    height: fit-content;
    margin: auto;
}

.colon {
    font-size: 1.5em;
    margin-right: 10px;
}

.heading {
    font-size: 3em;
    max-width: 500px;
    margin: auto;

    text-align: center;
    border-radius: 50px;
    
    background-color: #f1c401;
    color: white;

    margin-bottom: 30px;
    margin-top: 30px;

    padding: 10px;
}

.main-navigations {
    max-width: 800px;
    margin: auto;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 10px;

    font-size: 1.5em;

    transition: background-color .5s ease-in-out;

    display: grid;
    grid-template-columns: auto auto auto auto;
}


.main-nav {
    padding: 10px;
    text-align: center;
    width: max-content;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

    border: solid 2px #34495e;
    color: #34495e;

    user-select: none;

}

.main-nav:hover {
    background-color: #34495e;
    color: white;
}

.open {
    background-color: #34495e;
    color: white;
}

.images {
    max-width: 300px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    margin-right: auto;
    margin-left: auto;

}

.row1 {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 30px;

    width: 100%;

    padding: 5px;
    padding-bottom: 20px;
}


@media screen and (max-width: 700px) {

    .main-navigations {
        grid-template-columns: auto;
    }

    .row1 {
        grid-template-columns: 1fr;
        margin-bottom: 0px;
    }

    .images {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .main-nav {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 500px) {
    
    .heading {
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .para {
        font-size: 1.2em;
    }

    .main1 {
        padding-top: 0px;
    }

    .content {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {

    .main-navigations {
        grid-template-columns: auto auto auto auto;
    }

    .main-nav {
        font-size: 0.6em;
        padding: 5px;

        height: fit-content;
        width: 100%;

        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 420px) {

    .main-nav {
        font-size: 0.55em;
    }

}

@media screen and (max-width: 390px) {

    .main-navigations {
        grid-template-columns: auto auto auto auto;
    }

}