.header {
    background-color: #1f4068;
}

.collapsible {
    background-color: #1f4068;
}

.copyright {
    background-color: #1f4068;
}

.loading {
    background-color: #1f4068;
}

.sub-nav {
    background-color: #e3dfc8;

    transition: background-color .2s ease-in-out;

    color: #1f4068;
}

.sub-nav:hover {
    background-color: #c0bca8;
    color: #1f4068;
}
