.header {
    background-color: #318fb5;
}

.collapsible {
    background-color: #318fb5;
}

.copyright {
    background-color: #318fb5;
}

.loading {
    background-color: #607D8B;
}

.sub-nav {
    background-color: #005086;

    transition: background-color .2s ease-in-out;
}

.sub-nav:hover {
    background-color: #005f9e;
    color: white;
}
