
.background-img {
    background-color: white;
    height: 1000px;
    width: 100%;
}

#urogrip-img-cont {
    margin: auto;
    width: fit-content;
}

#urogrip-img {
    margin: 20px;
    Box-shadow:0 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 400px;
}