.header {
    z-index: 2;
}

.main1 {
    display: grid;
    height: 100%;
    width: 100%;
    color: #5F4B8BFF;
    color: white;
    background-color: rgba(95,75,139,0.7);
    background-color: rgba(256,256,256,0.2);
    background-color: rgba(230,154,141,0.7);
    background-color: #A2A2A1AA;
    color: white;
}

.content {
    padding: 20px;

    width: fit-content;
    max-width: 1400px;
    margin: 20px;

    margin-right: auto;
    margin-left: auto;
}

.heading {
    font-size: 2.5em;
    margin-right: auto;
}

.intro{
    font-size: 1.5em;
    max-width: 1100px;
    text-align: justify;

    margin-top: 10px;
    margin-right: auto;
}

.poster {
    max-width: 600px;
    width: 100%;
}

.webinar {
    padding: 10px;
    margin: 10px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    max-width: 500px;

    /background-image: linear-gradient(rgba(256,256,256,0.5),rgba(256,256,256,1));
    /background-image: linear-gradient(rgba(95,75,139,1),rgba(95,75,139,1));
    background-color: #195190FF;
    cursor: pointer;
    user-select: none;
}

.webinar-list {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    max-width: 1200px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.title {
    margin: 5px;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;

    max-width: 550px;
}

.calendar {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto auto;

    max-width: 130px;
    margin-left: auto;

    margin-bottom: 10px;
}

#calendar-icon {
    max-width: 50px;
    max-height: 50px;

    grid-row-start: 1;
    grid-row-end: 3;
}

.date {
    margin-left: auto;
    margin-right: 5px;
    font-weight: bolder;

    font-size: 1.4em;
}

.month {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    margin-left: auto;
    margin-right: 5px;

    line-height: 50%;
    margin-bottom: 10px;
}

.year {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

    transform: rotate(-90deg);

    font-weight: bold;
    line-height: 200%;

    z-index: 1;
}

@media screen and (max-width: 1000px){

    .webinar-list {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 500px){

    .main1 {
        
    }

    .content {
        margin-top: 0px;
    }

    .title {
        font-size: 1em;
    }

    .intro {
        font-size: 1.2em;
    }

    .webinar {
        margin-right: 10px;
        margin-left: 10px;
    }

}

.webinar:hover {

    background: linear-gradient(rgba(256,256,256,0.2),rgba(256,256,256,1));
    background: linear-gradient(45deg,#ff03da,#0185ea,#ff03da,#0185ea);

    background-size: 1000% 100%;
    animation: backhover 5s linear infinite;

    animation-direction: alternate;

    color: white;
}

@keyframes backhover{

    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}