.header {
    z-index: 2;
}

.main1 {
    display: grid;
    height: 100%;
    width: 100%;
    color: white;
    min-height: 100vh;

    background-color: rgba(98, 51, 128, 0.3);

    padding-top: 20px;
}

.content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(98, 51, 128, 0.3);
    padding: 20px;

    margin-bottom: 20px;
}

.head {
    display: grid;
    margin-bottom: 20px;
}

.web {
    font-size: 3em;
    font-weight: bold;

    width: fit-content;
    height: fit-content;

}

.title {
    font-size: 2em;
    width: fit-content;
    height: fit-content;

    padding-left: 20px;

    max-width: 800px;
}

.poster {

    display: block;
    margin: auto;

    width: 100%;
    max-width: 1000px;
    padding: 5px;

    border: solid 2px white;
}

.talk-text {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
}

.talks {
    width: 100%;
    margin-bottom: 50px;
}

.talk-video{
    position: relative;
    padding-bottom: 56.25%;
}

.talk-info {
    font-size: 1.5em;
    font-style: italic;

    margin-left: 20px;

    max-width: 500px;
}


iframe {
    z-index: 1;
    position: absolute;
}

.talk {
    display: grid;

    grid-template-columns: 2fr 3fr;
    
    padding: 10px;
    margin: 5px;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: solid 2px white;
}

.first {
    border-top: solid 2px white;
}

.poster-text {

    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;

    margin-bottom: 10px;
}

@media screen and (max-width: 1000px){

    .talk {
        grid-template-columns: 1fr;
    }
}