.main1 {
    display: grid;
    height: 100%;
    width: 100%;
    color: white;
    min-height: 100vh;

    background-color: rgba(98, 51, 128, 0.3);

    padding-top: 20px;
}

.content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(98, 51, 128, 0.3);
    padding: 20px;

    margin-bottom: 20px;
}

.head {
    display: grid;
    margin: 10px;
}

.web {
    font-size: 3em;
    font-weight: bold;

    width: fit-content;
    height: fit-content;

}

.title {
    font-size: 2em;
    width: fit-content;
    height: fit-content;

    padding-left: 20px;

    max-width: 800px;
}

.poster {

    display: block;
    margin: auto;

    width: 100%;
    max-width: 500px;
    padding: 5px;

    border: solid 2px white;
}

.talk {
    display: grid;

    grid-template-columns: auto auto;
}
